* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main-container{
    width: 100%;
    height: 1310px;
    display: flex;
    /*border: 8px solid black;*/
    overflow-y: hidden;
    overflow-x: hidden;
}
.Box-frond-left{
    width: 50%;
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(0,172,238,1) 50%, rgba(255,255,255,1) 100%);  
}
.twitter-background{
    max-width: 50%;
    max-height: 50%;
    margin-top: 25%;
    margin-bottom: 25%;
    margin-left: 25%;
    /*background-color: blueviolet;*/  
}

.Box-frond-right{
    width: 50%;
    max-height: 50%;
      /*background-color: blue;*/
    text-align: center; 
}
.form-box{
    width: 500px;
    height: 600px;
    max-width: 100%;
    max-height: 100%;
    /*background-color: blueviolet;*/
    margin: 25% 20% 25% 20%;
    /*border: 1px solid black;*/
    border-radius: 5px; 
}
.Twitter-logo{
    /*background-color: coral;*/
    width: 100PX;
    height: 100PX;
    display: flex;
    margin-left: 40%;
    animation:rotation 8s ease-in-out infinite ;
    animation-direction: alternate;   
}
@keyframes rotation {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(35deg);
    }   
}
.Welcome{
    margin-bottom: 10px;
    /*background-color: rgb(42, 165, 61);*/
}
.Log-in {
    margin: 0% 25% 0% 25% ;
    /*background-color: palegreen;*/
}
.Log-into{
    text-align: left;
    margin-top: 50PX;
    margin-bottom: 30PX;
}
.User{
    width: 200px;
    height: 40px;
    margin: 0px 0px 20px 0px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid  rgb(0,172,238) ;
}
.Password{
    width: 200px;
    height: 40px;
    margin: 0px 0px 20px 0px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid  rgb(0,172,238) ;
}
.UserName{
    width: 200px;
    height: 40px;
    margin: 0px 0px 20px 0px;
    border: none;
    border-radius: 5px;
    border-bottom: 1px solid  rgb(0,172,238) ;
}
.Submit{
    width: 200px;
    height: 40px;
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  rgb(0,172,238);
    border-radius: 50px;
    border-color:  rgb(0,172,238) ;
    cursor: pointer;
}
.Submit:hover{
    opacity: 0.4;
}
.Create-account{
    width: 200px;
    height: 40px;
    margin: 0px 0px 20px 0px;
    font-size: 20px;
    border-radius: 50px ;
    border-color: rgb(0,172,238);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  rgb(0,172,238);
    cursor: pointer;   
}
.Create-account:hover{
    opacity: 0.4;
}
.apple{
    width: 100%;
    height: 30px;
    margin-bottom: 20px; 
}
.applelogo{
    width: 25%;
    height: 100%;
    text-align:right;
}
.applelogo:hover{
    animation:salto 1s ease-in-out 1 alternate forwards;
    cursor: pointer;
}
@keyframes salto{
    from{
        transform:scale();
    }
    to{
        transform:scale(1.5);
    }
}
.googlelogo{
    width: 25%;
    height: 100%;
}
.googlelogo:hover{
    animation:salto 1s ease-in-out 1 alternate forwards;
    cursor: pointer;
}

@keyframes salto{
    from{
        transform:scale();
    }
    to{
        transform:scale(1.5);
    }
}
@media screen and (max-width:1900px){
    .twitter-background{
        margin-top: 38%;
    }
    .form-box{
        margin-top: 38%;
    }     
}
@media screen and (max-width:1400px) {
    .twitter-background{
        margin-top: 60%;
    }
    .form-box{
        margin-top: 50%;
        margin-left: 10%;                 
    }    
}
@media screen and (max-width:1050px) {
    .twitter-background{
        margin-top: 80%;       
    }
    .form-box{
        margin-top: 70%;
        margin-left: 5%;     
    }       
}
@media screen and (max-width:900px) {
    .twitter-background{
        margin-top: 120%;
    }
    .form-box{
        margin-top: 100%;   
    }
    .main-container{
        max-height: 1180px;
    }  
}@media screen and (max-width:720px){
    .Box-frond-right{
        width: 90%;
    }.twitter-background{
        display: none;
    }
    .main-container{
        max-width:  1000px; ;
    }
}@media screen and (max-width:500px){
    .form-box{
        margin-left: 0%;
        margin-top: 80%;
    }
    .main-container{
        max-height: 900px;
    }
@media screen and (max-width:400px){
    .form-box{
        margin-top: 60%;   
    }
    .main-container{
        max-height: 844px;
    }  
}
}
